
.prof-all{

}
.prof-body{
  width: 960px;
  margin: 50px auto;
  padding-top: 25px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba( 0, 0, 0, 0.2 );

  height: 864px;
  text-align: center;
}
.prof-icon img{
  width:180px;
  margin-top:20px;
}
.prof-icon h1{
  margin: 0px;
  font-size: 30px;
  /* width: 320px;
  margin-left: -3px; */
}

.prof-text{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  /* width: 640px; */
}
.movie_up_btn {
  margin-bottom:50px;
}
#movie_button {
  width:150px;
  height:50px;
  /* margin-right: 20px; */
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: solid 2px #000;
  border-radius: 3px;
  transition: .4s;
}
#movie_button:hover {
    background: #fff;
    color: #000;
}
.prof-movie {
  position: relative;
  width:100%;
  margin-left: 5px;
}
.prof-movie iframe{
  margin:10px 10px 0 10px;
  width: 398px;
}

.prof_prof {
  width:100%;
  height:748px;
  margin-top:100px;
  background-color: #eee;
  text-align: center;
}
.prof-title {
  line-height: normal;
  font-size: 30px;
  margin:0;
  padding-top:50px;
  padding-bottom:30px;
}
.prof_prof table {
  width:650px;
  margin:auto;
  background-color:#fff;
  padding-bottom: 10px;
}
.prof_prof th {
  width:200px;
}
.prof_prof td {
  height:100px;
}
#form_submit_button {
    width:246px;
    height:40px;
    padding: 0.3em 1em;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: solid 2px #000;
    border-radius: 3px;
    transition: .4s;
}
#form_submit_button:hover {
    background: #fff;
    color: #000;
}
